@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

.heroGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.heroImg {
  height: 80vh;
}

@media (max-width: 900px) {
  .heroGrid {
    display: grid;
    grid-template-columns: 1fr;
  }

    .heroImg {
      height: 100%;
    }
}
